
// Color
$headline-color: $blue;


// Headings
h1, h2, h3, h4, h5 {
 margin-bottom:0.25em;
 color:$headline-color;
 text-transform:uppercase;
}

h1 {font-size:4.5em;}
h2 {font-size:3.25em;}
h3 {font-size:2.25em;}
h4 {font-size:2.1em;}
h5 {font-size:1em;}
