* {
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}


// Color
$body-copy-color: $dark-gray;


// Text
body {
 font-size:62.5%;
 color:$body-copy-color;
}

p {}


blockquote {}

em {}

strong {}