
/* Colors
================================================================================================= */
$blue: #0E1B2E;
$orange: #FC5528;

// Grays
$light-gray: #F1F1F1;
$mid-gray: #ECECEC;
$dark-gray: #B8BDC4;
